header {
  background: #000000;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fa-icon {
    display: none;
  }
  div {
    display: flex;
    gap: 20px;
    text-decoration: none;

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 720px) {
  nav fa-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  nav div {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 60px; /* Adjust this according to your header height */
    left: 0;
    padding: 20px;
  }

  nav div.menu-open {
    display: flex;
  }
}
