header {
  background: #000000;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    gap: 20px;
    text-decoration: none;

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
