<header>
  <nav>
    <h1>Task Managment</h1>
    <fa-icon
      *ngIf="!isMenuOpen"
      [icon]="faBars"
      (click)="toggleMenu()"
    ></fa-icon>
    <fa-icon
      *ngIf="isMenuOpen"
      [icon]="faDoorClosed"
      (click)="toggleMenu()"
    ></fa-icon>
    <div [class.menu-open]="isMenuOpen">
      <a routerLink="/">HOME</a>
      <a routerLink="/Tasks" *ngIf="isLoggedIn">TASKS</a>
      <a routerLink="/login" *ngIf="!isLoggedIn">LOGIN</a>
      <a *ngIf="isLoggedIn" (click)="logOut()">LOGOUT</a>
    </div>
  </nav>
</header>
