<section>
  <div class="app-login-form">
    <app-snackbar
      [errorMessage]="errorMessage"
      *ngIf="errorMessage"
    ></app-snackbar>
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="wrapper">
      <form
        #authForm="ngForm"
        (ngSubmit)="onFormSubmitted(authForm)"
        *ngIf="!isLoading"
      >
        <h1>{{ isLoginMode ? "Login" : "Signup" }} Here</h1>

        <div class="input-box">
          <!-- <label>Email Address</label> -->
          <input
            type="email"
            placeholder="Email address"
            name="email"
            ngModel
            required
            email
          />
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-box">
          <!-- <label>Password</label> -->
          <input
            type="password"
            placeholder="Password"
            name="password"
            ngModel
            required
            minlength="8"
          />
        </div>
        <button
          type="submit"
          class="app-login-btn"
          [disabled]="authForm.invalid"
        >
          {{ isLoginMode ? "Login" : "Register" }}
        </button>
        <p>
          {{
            isLoginMode
              ? " Do not have an accout yet?"
              : "Already have an account"
          }}
          <button class="app-toggle-btn" type="button" (click)="onSwitchMode()">
            {{ isLoginMode ? "Register Here." : "Login Here" }}
          </button>
        </p>
      </form>
    </div>
  </div>
</section>
